<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Astrology</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg " style="background-color:#ffdf00;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><span style="color:#F73173;font-weight:700;font-family: 'Sacramento', cursive;font-weight:bolder;">Astrology</span></a>
      <div style="color:#F73173" class="collapse  navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " style="color:#F73173;font-weight:700" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " style="color:#F73173;font-weight:700" href="/data">Data List</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <center>

    <img src="ganesh.png" alt="Ganesh" height="100px">
    <h4 style="color:orange">Shree Ganeshay Namah</h4>

  </center>
  <hr noshade style="color:black">
  <section class="ftco-section">
    <div class="container">
      <form action="/" method="post" class="">
        <div class="form-group w-75">
          <label style="color:#9B1FE8;font-weight:700" for="heaven">Name:</label><br>
          <input id="heaven" style="border:2px solid #DC3545;color:#9B1FE8;font-weight:800" type="text" name="query" value="<%= paramName %>" class=" form-control-sm w-75" placeholder="Name" required>
          <input style="border:2px solid #DC3545;color:#9B1FE8;color:#9B1FE8;font-weight:800" type="number" name="number" class=" form-control-sm w-25" placeholder="Number">
          <button type="submit" class="btn rounded submit " style="background-color: #DC3545;color: white;padding: 3px;width:150px;margin-left:630px;margin-top:12px;">Calculate</button>

        </div>

      </form>
    </div>

  </section><br>
  <div class="container">

    <table class="table-bordered full_table" style="border-collapse: collapse;width:56%;">
      <thead class="c_pad_head" style="background-color:#9B1FE8">
        <tr>
          <th class="list_b">Group</th>
          <th class="list_b">Name</th>
          <th class="list_b">Total</th>
          <th class="list_b">V</th>
          <th class="list_b">C</th>
        </tr>
      </thead>
      <tbody>

        <td style="color:#9B1FE8">N</td>
        <td>
          <table id="name_g2_block">&nbsp;</table>
        </td>
        <td style="padding:30px" id="g2tot"></td>
        <td style="padding:30px" id="g2vtot"></td>
        <td style="padding:30px" id="g2nettot"></td>
        </tr>
        <tr>
          <td style="color:#9B1FE8">S</td>
          <td>
            <table id="name_g2_block">&nbsp;</table>
          </td>
          <td style="padding:30px" id="g3tot"></td>
          <td style="padding:30px" id="g3vtot"></td>
          <td style="padding:30px" id="g3nettot"></td>
        </tr>
        <tr>
          <td>
            <strong style="color:#9B1FE8"> Name letters count - </strong><br>
          </td>
          <td>
          </td>

          <td style="padding:15px" colspan="3">
            <button class="btn btn-md btn-success" style="border-radius:10px;" href="#">Save</button>
            <a class="btn btn-md btn-danger" style="border-radius:10px;" href="#">Cancel</a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <center>
    <footer id="sticky-footer" class="f_ flex-shrink-0 py-4" style="background-color:#ffdf00;color:#F73173">
      <div class="container text-center">
        <small>Copyright &copy; Astrology</small><br><br>
        <small>Made by</small>
        <strong>
          <h4 style="color:#F73173;font-weight:700;"><span style="font-family: 'Sacramento', cursive;font-weight:900;">🔥Raghunadh Hital🔥</span></h4>
        </strong>
      </div>
    </footer>
  </center>




</body>

</html>
